.submit{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 129, 129);
    border-radius: 10px;
  
}
form input{
    padding: 10px;
    margin: 20px;
    width: 400px;
    border: none;
    background-color: beige;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
}
form button{
    display: flex;
    margin: auto;
    padding: 10px;
    background-color: rgb(4, 159, 255);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;

}